body {
  font-family: system-ui, sans-serif;
  background: #F3F3F3;
  position: relative;
  padding: 0;
  margin: 0px;
  overflow-x: hidden; 
}

#container {
  height: 100vh;
  display: grid;
  padding: 0;
  /* grid-template-rows:1fr 5fr 80px; */
}

#topo {
  align-items: center;
  background: #ffffff; 
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: center;
  width: 100%;
}

.nome-pet {
  font-weight: bold
}

#logo {
  text-align: center;
}

.subtitulo {
  padding-left: 10px;
  margin-bottom: 10%;
}

#identificacao {
  display: flex;
  flex-direction: row;
}

.espaco {
  margin-bottom: 30%;
}


.perfil{
  height: 40px;
  border-radius: 50%;
  /* border: 50px #FF9922; */
  margin: 10px;
  align-items: center;
}

.info {
  padding-top: 10px;
  padding-left: 10px;
}

.blocos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow-x: auto;
}

.bloco {
  display: flex;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.bloco-icone {
  width: 8%;
  margin-right: 3%;
  margin-bottom: 5px;
}

.bloco-titulo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.adicionarPet{
  display: flex;
  flex: row;
  margin-left: 10px;
  align-items: center;
  margin-top: 10px;
}

.botaoMais{
  width: 40px;
}

#novoPet{
  margin-left: 10px;
  font-weight: bold;
}

#identificacao2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.imgloc{
  height: 60px;
  border-radius: 50%;
  border: 50px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#nomeloc {
  margin-left: 10px;
  font-weight: bold;
}

#locatual {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 300px;
  align-content: center;
}

#meio {
  margin-left: center;
}

#btnaudio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#som {
  width: 200px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.btn-repsom {
  align-content: center;
  background: #FF9922;
  width: 200px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.btn-repsom2 {
  
  text-decoration: none;
  color: #ffffff;
  align-items: center;
}

.icones {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.icone {
  width: 30%;
  height: 30%;
}

.tres {
  width: 300px;
}

#meioo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}

.alarmes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow-x: auto;
}

.alarme {
  display: flex;
  background: #ffffff;
  height: 100px;
  width: 300px;
  margin: 15px;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  box-shadow: 1px 15px 15px black;
}

.horario{
  float: left;
}

.btn-sim{
  align-content: center;
  background: #FF22C1;
  width: 50px;
  height: 20px;
  line-height: 20px;
  border-radius: 2px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  float: left;
}

.btn-sim2 {
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.linha{
  display: flex;
  flex-direction: row;
}